*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 60%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
.content{
    background-color: black;
    color: #fff;
    height: 50px;
}
h1{
    padding: 12px 20px;
    margin-left: 20rem;
}
.spinNumber{
    background-color: gray;
    height: 150px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    
}
p{
    padding: 12px 20px;
    margin-left: 13rem;
    font-size:20px;
}

.number{
    display: flex;
    margin-left:15rem;
    padding: 10px 20px;
    
}

#input{
    width: 50%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid black;
    
}
#button{
    width: 20%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid black ;
    margin-left: 1rem;
}